* {
  font-size: 14px;
}

form {
  width: 400px;
  input {
    width: 100%;
  }
}

div.concat {
  display: block;
  width: 100%;
}

div.tObj {
  display: block;
  width: 100%;
  border-bottom: 2px solid #dadada;
}

div.bitty {
  display: block;
  width: 100%;
}

div.sObj {
  display: block;
  width: 100%;
  border-bottom: 2px solid #dadada;
}

h4 {
  display: inline-block;
  font-size: 1.2em;
  margin: 1% 1%;
}

p {
  display: inline-block;
  margin: 1% 1%;
}
